
.Act-feed{
    padding: 0.75rem;
    background: var(--lightgray);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.Act-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.Act-title h3{
    color: var(--site-blue);
    font-size: 1.5rem;
    font-weight: 600;
}

.Act-title span{
    color: var(--nav-link);
}

.Act-days{
    display: flex;
    justify-content: space-evenly;
    justify-self: end;
    margin-bottom: 0.25rem;
}

