

nav{
    position: fixed;
    bottom: 2rem;
    min-height: max(30rem,calc(100vh - 9.75rem));
    color: var(--nav-link);
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.sub-nav{
    padding: 0.5rem 0 0.5rem 4rem;
    cursor: pointer; 
    margin-block: 2rem 0.75rem;
    font-size: 0.8rem;
}

nav ul{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    list-style: none;
}

.nav-links, .chat, .support, .settings{
    padding: 0.5rem 0 0.5rem 4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-links:first-of-type{
    color: hsl(225, 13%, 20%)
}

.chat,.support{
    margin-bottom: 1.1rem;
}

.settings{
    margin-block: auto 2rem;
}

@media (max-width: 1200px){
    .nav-links, .chat, .support, .settings{
        padding-left: 3rem;
    }
}

@media (max-width: 1000px){

    nav{
        width: 7rem;
    }

    :is(.nav-links, .chat, .support, .settings) span, .sub-nav{
        display: none;
    }

    .nav-links, .chat, .support, .settings{
        padding-left: 2rem;
    }

    nav svg{
        width: 2.75rem;
        height:2.75rem;
    }

    .chat, .support{
        margin-block: 1rem 0.3rem;
    }
}

@media (max-width: 600px){

    nav{
        width: 4rem;
    }

    .nav-links, .chat, .support, .settings{
        padding-left: 1.25rem;
    }

    nav svg{
        width: 2rem;
        height: 2rem;
    }

}